<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="https" value="https://www.its-ipstudy.jp/SystemManagerWebService/SystemManager.asmx" />
    <add key="http" value="http://www.its-ipstudy.jp/SystemManagerWebService/SystemManager.asmx" />-->
    <add key="https" value="https://www.its-ipstudy.jp/itstestweb/SystemManagerWebService/SystemManager.asmx" />
    <add key="http" value="http://www.its-ipstudy.jp/itstestweb/SystemManagerWebService/SystemManager.asmx" />
  </appSettings>
    <applicationSettings>
        <CST.CBT.eIPSTA.Common.My.MySettings>
            <setting name="Common_SystemManagerWebService_SystemManager"
                serializeAs="String">
                <value>http://localhost:52000/SystemManager.asmx</value>
            </setting>
        </CST.CBT.eIPSTA.Common.My.MySettings>
    </applicationSettings>
</configuration>
