<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CST.CBT.eIPSTA.PracticeQuestionShow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--<add key="https" value="https://www.its-ipstudy.jp/GroupManagerWebService/GroupManager.asmx" />
    <add key="http" value="http://www.its-ipstudy.jp/GroupManagerWebService/GroupManager.asmx" />-->
    <add key="https" value="https://www.its-ipstudy.jp/itstestweb/GroupManagerWebService/GroupManager.asmx" />
    <add key="http" value="http://www.its-ipstudy.jp/itstestweb/GroupManagerWebService/GroupManager.asmx" />
  </appSettings>
  <applicationSettings>
        <CST.CBT.eIPSTA.PracticeQuestionShow.My.MySettings>
            <setting name="PracticeQuestionShow_GroupManagerWebService_GroupManager"
                serializeAs="String">
                <value>http://localhost:52005/GroupManager.asmx</value>
            </setting>
        </CST.CBT.eIPSTA.PracticeQuestionShow.My.MySettings>
    </applicationSettings>
</configuration>
