<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CST.CBT.eIPSTA.PracticeStudent_Trial.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--ダウンロードファイル数-->
    <add key="FILE_PARTITION_COUNT" value="1" />
    <!--ダウンロードタイプ（1:コレクション形式, 2:圧縮ファイル形式）-->
    <add key="FILE_DOWNLOAD_TYPE" value="2" />
    <!--ダウンロードリトライ回数-->
    <add key="FILE_DOWNLOAD_FAILED" value="5" />
    <!--ダウンロード時のスリープ時間（ミリ秒）-->
    <add key="FILE_DOWNLOAD_INTERVAL" value="1000" />
    <!--%temp%配下に作成するフォルダ名-->
    <add key="TEMP_FOLDER" value="CS_CBT_DEMO" />
    <!--フォーラム用又は体験版（1:フォーラム用,2:体験版）-->
    <add key="EDITION" value="1" />
    <!--選択肢記号-->
    <!--0:英字 1:数字 2:平仮名 3:カタナカ-->
    <add key="CHOICEMARKTYPE" value="1" />
    <!--選択肢数-->
    <add key="CHOICEMARKCOUNT" value="5" />
    <!--True:全角 False:半角-->
    <add key="FULLWIDHCHARACTERS" value="True" />
    <!--True:大文字 False:小文字-->
    <add key="UPPERCASE" value="True" />
    <!--試験時間-->
    <add key="HOURS" value="0" />
    <add key="MINUTES" value="30" />
    <add key="SECONDS" value="0" />
    <!--試験結果収集フォルダ-->
    <add key="TESTRESULT_SHARE_FOLDER" value="\\CST14\TestResult" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <CST.CBT.eIPSTA.PracticeStudent_Trial.My.MySettings>
      <setting name="PracticeStudent_WebService_CBTService" serializeAs="String">
        <value>http://219.99.167.124/vetnurse_Webservice/Student.asmx</value>
      </setting>
    </CST.CBT.eIPSTA.PracticeStudent_Trial.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>