<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CST.CBT.eIPSTA.SystemManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="https" value="https://www.its-ipstudy.jp/SystemManagerWebService/SystemManager.asmx" />-->
    <add key="https" value="http://localhost:52000/SystemManager.asmx" />
    <!--<add key="https" value="https://www.its-ipstudy.jp/itstestweb/SystemManagerWebService/SystemManager.asmx" />-->
    <!--0:ダウンロードする 1:ダウンロードしない-->
    <add key="DOWNLOAD_FLG" value="1" />
    <!--0:アップロードする 1:アップロードしない-->
    <add key="UPLOAD_FLG" value="1" />
    <!--%temp%配下に作成するフォルダ名-->
    <add key="TEMP_FOLDER" value="SystemManager_VetNorse_demo" />
    <!--選択肢記号-->
    <!--0:英字 1:数字 2:平仮名 3:カタナカ-->
    <add key="CHOICEMARKTYPE" value="1" />
    <!--選択肢数-->
    <add key="CHOICEMARKCOUNT" value="5" />
    <!--True:全角 False:半角-->
    <add key="FULLWIDHCHARACTERS" value="True" />
    <!--True:大文字 False:小文字-->
    <add key="UPPERCASE" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <CST.CBT.eIPSTA.SystemManager.My.MySettings>
      <setting name="SystemManager_SystemManagerWebService_SystemManager" serializeAs="String">
        <value>http://localhost:52000/SystemManager.asmx</value>
      </setting>
    </CST.CBT.eIPSTA.SystemManager.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>