<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CST.CBT.eIPSTA.GroupManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--0:ダウンロードする 1:ダウンロードしない-->
    <add key="DOWNLOAD_FLG" value="1" />
    <!--0:アップロードする 1:アップロードしない-->
    <add key="UPLOAD_FLG" value="1" />
    <!--0:起動する 1:起動しない-->
    <!--Release時のみ有効。debug時は起動しない-->
    <add key="DELETEGROUP_FLG" value="1" />
  </appSettings>
  <applicationSettings>
    <CST.CBT.eIPSTA.GroupManager.My.MySettings>
      <setting name="GroupManager_GroupManagerWebService_GroupManager"
        serializeAs="String">
        <value>http://localhost:52005/GroupManager.asmx</value>
      </setting>
    </CST.CBT.eIPSTA.GroupManager.My.MySettings>
  </applicationSettings>
</configuration>