body
{
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
#main
{
    margin:10px 20px 20px 10px;
}
p
{
    margin:10px 20px;
    font-size:85%;
}
#wrapper
{
    margin: 0 auto;
    width:791px;
}
.menuRibbon {
	margin:0 0 10px 0;
	padding:2px 8px;
	background:#f9ac10;
	color:#F9F3EC;
	line-height:140%;
	font-weight:bold;
}

.menuRibbonLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	background:#f0dbc1;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
}

.menuTab {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 0 5px;
	border-color: #f0dbc1;
	border-style:solid;
	background:#f9ac10;
	color:#F9F3EC;
	line-height:140%;
	font-weight:bold;
}

.menuTabLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 0 5px;
	border-color:#f9ac10;
	border-style:solid;
	background:#f0dbc1;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
}

.menuTabDouble {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 5px;
	border-color: #f0dbc1;
	border-style:solid;
	background:#f9ac10;
	color:#F9F3EC;
	line-height:140%;
	font-weight:bold;
	text-align:center;
}

.menuTabDoubleLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 5px;
	border-color:#f9ac10;
	border-style:solid;
	background:#f0dbc1;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
	text-align:center;
}

.menuLine {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 5px 0;
	border-color: #f0dbc1;
	border-style:solid;
	background:#f9ac10;
	color:#F9F3EC;
	line-height:140%;
	font-weight:bold;
}

.menuLineLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 5px 0 ;
	border-color:#f9ac10;
	border-style:solid;
	background:#f0dbc1;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
}

.menuLineDouble {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:5px 0;
	border-color: #f0dbc1;
	border-style:solid;
	background:#f9ac10;
	color:#F9F3EC;
	line-height:140%;
	font-weight:bold;
	text-align:center;
}

.menuLineDoubleLightW {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 2px 5px;
	border-color:#f9ac10;
	border-style:solid;
	background:#fff;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
	text-align:left;
}

.menuLineDoubleLight {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:5px 0;
	border-color:#f9ac10;
	border-style:solid;
	background:#f0dbc1;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
	text-align:center;
}

.menuLineLightW {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 5px 0 ;
	border-color:#f9ac10;
	border-style:solid;
	background:#fff;
	color:#d25c14;
	line-height:140%;
	font-weight:bold;
}
table#table-01 {
    width: 754px;
    border: 1px #f9ac10 solid;
    border-collapse: collapse;
    border-spacing: 0;
    font-size:85%;
    text-align:left;
    margin:0px 20px;
}

table#table-01 th {
    padding: 5px;
    border: #f9ac10 solid;
    border-width: 0 0 1px 1px;
    background: #f0dbc1;
    font-weight: bold;
    line-height: 120%;
}
table#table-01 td {
    padding: 5px;
    border: 1px #f9ac10 solid;
    border-width: 0 0 1px 1px;
}